<div id="{{ include.carousel_id }}"
     class="carousel slide {{ include.carousel_classes }}"
     {% if include.carousel_auto %}
     data-ride="carousel"
     data-interval="{{ include.carousel_interval | default: 10000 }}"
     {% else %}
     data-interval="false"
     data-ride=""
     {% endif %}
     >
  {% assign carousel_max = include.carousel_max | default: 5 %}

  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in include.carousel_slides  limit: carousel_max %}
    <li data-target="#{{ carousel_id }}" data-slide-to="{% increment counter %}" {% if counter == 1 %} class="active" {% endif %} ></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner" role="listbox">
    {% for slide in include.carousel_slides limit: include.carousel_max %}
    <div class="item slide-{% increment counter2 %} {% if counter2 == 1 %}active{% endif %}">
      <div class="container">
	<div class="carousel-caption">
	  <h1> {{ slide.header | default: "Insert Header in YAML FrontMatter" }} </h1>
	  <p> {{ slide.caption | default: "Insert Caption in YAML Frontmatter for" }} </p>
	  <p><a class="btn btn-lg btn-primary" href="{{slide.link}}" role="button"> {{ slide.action | default: "Read More"}} </a></p>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#{{ include.carousel_id }}" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#{{ include.carousel_id }}" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->
