
{% for featurette in featurettes %}
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-lg-4">    
    <h2 class="featurette-heading">
      {{ featurette.heading }}
    </h2>
    <p class="lead">
      {{ featurette.content }}
    </p>
    <p><a class="btn btn-default" href="{{ featurette.link }}" role="button">View details &raquo;</a></p>

  </div>
  
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="{{ featurette.img }}" alt="{{ featurette.alt }}">

  </div>
</div>
{% endfor %}

<hr class="featurette-divider">
