<{{ include.items_el| default: "ul" }} class="items-el {{include.items_el_classes}} "
  {% if include.items_id %}
  id="{{include.items_el_id}}"
  {% endif %}
  >

  {% for item in site.[include.items] [include.items_flags] %}
  
  <{{ include.item_el | default: "li"}} class="item-el {{include.item_el_classes}}"
    >

    
    {% assign date_format = include.date_format | default: site.date_format %}
    
    <div class="media item-media">
      
      <div class="media-body item-meta">
	
	<article class="item-article">
	  {% include item.html item=item no_date=include.no_date%}
	</article>
	
      </div> <!--.media-body-->

    </div> <!--.media-->

    <hr>


    <!--
    {% if item.date %}
    <span class="item-meta">{{ item.date | date: date_format }}</span>
    {% endif %}

    {% if item.title %}
    <h2>
      <a class="item-link" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
    </h2>
    {% endif %}

    {% if item.blurb %}
    <p> {{ item.blurb }} </p>
    {% else %}
    <p>{{item.excerpt|  strip_html}}<a class="item-link" href="{{item.url |relative_url }}">.... </a> </p>
    {% endif %} 
    -->
    
  </{{ include.item_el | default: "li"}}>

  {% endfor %}


</{{ include.items_el| default: "ul" }}>
