
<div class="row featurette marketing">
  {% for featurette in featurettes  offset: __i %}

  <div class="col-md-4"  >
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    
    <h2 class="featurette-heading">
      {{ featurette.heading }}
    </h2>
    <p class="lead">
      {{ featurette.content }}
    </p>
    <p><a class="btn btn-default" href="{{ featurette.link }}" role="button">View details &raquo;</a></p>
  </div>

  {% endfor %}

</div>


