---
layout: default
---

<div class="container-float carousel-container">
  {% include carousel.html carousel_auto = "true" carousel_id = "headlineCarousel" carousel_classes="cover-background" carousel_slides= page.headlines %}
  
</div>


<div class="container-float anouncements">
  {% include news.html post_limit=3 %}
</div> <!--.container-->

<hr class="featurette-divider">

<div class="container home" id="home">
  {{ content }}
</div>


 <hr class="featurette-divider">

<div class="container-float featurette-container">
  <h1 style="text-align:center;"> Projects </h1>
  <br>
  <br>
  {% assign featurettes = page.projects %}
  {% assign featurette_alt_style = "false" %}
  {% assign featurette_row_limit = 3 %}
  {% include marketing.html %}

</div>

<hr class="featurette-divider">



